img {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnkEWew5-dJH8evW0ai71cW1aMWxE-mbjtjA&usqp=CAU');
    width: 100%;
    height: 50%;
}

h1 {
    font-family: serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 75px;
    color: rgb(75, 75, 166);
    width: 100%;
}

h2, p {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(148, 99, 36);
    font-size: 30px;
}

footer {
  text-align: center;
  font-size: 30px;
  color: metalic-blue;
}
