img {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnkEWew5-dJH8evW0ai71cW1aMWxE-mbjtjA&usqp=CAU');
    width: 100%;
    height: 50%;
    font-size: 10px;
}

h1 {
    font-family: serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 70px;
    color: rgb(75, 75, 166);
    width: 100%;
}
 
h2 {
    font-style: 'Space Mono', monospace;
    font-size: 55px;
    color: black;
    text-transform: uppercase;
}
a {
    aplha: 1;
}
.p1, .p2 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(148, 99, 36);
    font-size: 25px;
    font-weight: bold;
    word-spacing: 1.4;
}
li {
    font-style: 'Space Mono', monospace;
    color: green;
    font-size: 40px;
}
footer {
  text-align: center;
  font-size: 30px;
  color: #FFFFFF;
  background-color: blue;
}
footer img {
    width: 145px;
    height: 200px;
    margin: 1px;
    bottom: 1px;
}
